<div class="container">

    <form #prodForm="ngForm" class="form-signin">
        <div class="panel-heading">
            <h2>Login</h2>
        </div>
        <label for="inputUsername" class="sr-only">Usuário</label>
        <input type="text" id="inputUsername" [(ngModel)]="username" name="ninputUsername" class="form-control" placeholder="Usuário" required autofocus ngModel>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" [(ngModel)]="password" name="ninputPassword" class="form-control" placeholder="Senha" required ngModel>

        <button md-raised-button class="buttom-acessar" type="submit"
                [disabled]='!((prodForm.form.valid))'
                (click)='login()'>Acessar</button>
    </form>

</div>